/* David Hall 03-13-20 */

body {
    background-color: #B7A388;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

#wrapper {
    margin: auto;
    width: 80vw;
    color: #565656;
    background-color: #D7CEC7;
}

header {
    background-color: #76323F;
    color: #FFFFFF;
    font-size: 150%;
    padding: 10px 10px 10px 155px;
    background-image: url(coffeelogo.jpg);
    background-repeat: no-repeat;
}

h1, h2 {
    background-color: #D7CEC7;
    border: 2px solid #565656;
    padding: 5px;
    margin: 3px;
}